@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="text-center">
    <h1 class="display-4">Film registration</h1>

</div>
<br />
<div class="row">
    <div class="col-md-6 offset-md-3  text-center">
        <a class="nav-link" href='Identity/Movies'> 
        <i class="fas  fa-video fa-9x text-secondary"></i></a>
    </div>
</div>
